# Core files
.env
.env.secret
.env.git
docker-compose.yml
/project
/var
/.composer/cache
/db
/user/nginx/*
/user/.bash_history
/user/.my.cnf

/config/mysql/d4d.cnf
/config/nginx/d4d/*.conf
/config/nginx/ssl/*.pem
/config/nginx/project.conf
config/php/Dockerfile

/config/php/conf.d/xdebug.ini

/config/phpmyadmin/config.user.inc.php

# IDEs
/.idea
*.iml
/.vscode
*~

# System files
.DS_Store