version: '3'

services:
  nginx:
    build:
      context: config/nginx
      args:
        PROJECT_DOMAIN_1: ${PROJECT_DOMAIN_1}
        PROJECT_DOMAIN_2: ${PROJECT_DOMAIN_2}
        PROJECT_DOMAIN_3: ${PROJECT_DOMAIN_3}
        PROJECT_DOMAIN_4: ${PROJECT_DOMAIN_4}
        DOCUMENT_ROOT: ${DOCUMENT_ROOT}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
        NGINX_VERSION: ${NGINX_VERSION}
        SYMFONY_FRONT_CONTROLLER: ${SYMFONY_FRONT_CONTROLLER}
        PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
        PHP_UPLOAD_MAX_FILESIZE: ${PHP_UPLOAD_MAX_FILESIZE}
    ports:
      - ${PORT_NGINX}:80
    networks:
      default:
        aliases:
          - ${PROJECT_DOMAIN_1}
    volumes:
      - ${PROJECT_PATH}:/var/www/project:cached
      - ${NGINX_LOG_PATH}:/var/log/nginx
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - php
    environment:
      - TZ=${DEFAULT_TIMEZONE}

  php:
    build:
      context: config/php
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
        PHP_VERSION: ${PHP_VERSION}
        DEFAULT_TIMEZONE: ${DEFAULT_TIMEZONE}
        PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT}
        PHP_UPLOAD_MAX_FILESIZE: ${PHP_UPLOAD_MAX_FILESIZE}
        PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
        NODE_JS_VERSION: ${NODE_JS_VERSION}
        XDEBUG_REMOTE_PORT: ${XDEBUG_REMOTE_PORT}
        XDEBUG_REMOTE_AUTOSTART: ${XDEBUG_REMOTE_AUTOSTART}
        XDEBUG_REMOTE_ENABLE: ${XDEBUG_REMOTE_ENABLE}
        XDEBUG_REMOTE_HOST: ${XDEBUG_REMOTE_HOST}
        XDEBUG_REMOTE_CONNECT_BACK: ${XDEBUG_REMOTE_CONNECT_BACK}
    volumes:
      - ${PROJECT_PATH}:/var/www/project:cached
      - ${COMPOSER_PATH}/cache:/var/www/.composer/cache:cached
      - ${SSH_KEY_PATH}/id_rsa:/var/www/.ssh/id_rsa
      - ${SSH_KEY_PATH}/id_rsa.pub:/var/www/.ssh/id_rsa.pub
      - ${SSH_KEY_PATH}/known_hosts:/var/www/.ssh/known_hosts
      - ${USER_CONFIG_PATH}/.bash_history:/var/www/.bash_history
      - ./config/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./config/supervisor/conf.d/messenger-worker.conf:/etc/supervisor/conf.d/messenger-worker.conf
    depends_on:
      - mysql
