version: '3'

services:
  nginx:
    build:
      context: config/nginx
      args:
        PROJECT_DOMAIN_1: ${PROJECT_DOMAIN_1}
        PROJECT_DOMAIN_2: ${PROJECT_DOMAIN_2}
        PROJECT_DOMAIN_3: ${PROJECT_DOMAIN_3}
        PROJECT_DOMAIN_4: ${PROJECT_DOMAIN_4}
        DOCUMENT_ROOT: ${DOCUMENT_ROOT}
        DEBIAN_VERSION: ${DEBIAN_VERSION}
        NGINX_VERSION: ${NGINX_VERSION}
        SYMFONY_FRONT_CONTROLLER: ${SYMFONY_FRONT_CONTROLLER}
        PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
        PHP_UPLOAD_MAX_FILESIZE: ${PHP_UPLOAD_MAX_FILESIZE}
        PORT_PHP: ${PORT_PHP}
    ports:
      - ${PORT_NGINX}:80
      - ${PORT_NGINX_SSL}:443
    __NGINX_NETWORKS__
    volumes:
      - ${PROJECT_PATH}:/var/www/project:cached
      - ${NGINX_LOG_PATH}:/var/log/nginx
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - php
    environment:
      - TZ=${DEFAULT_TIMEZONE}
