
  mysql:
    image: mariadb:${MARIADB_VERSION}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: ${DEFAULT_TIMEZONE}
    ports:
      - ${PORT_MYSQL}:3306
    volumes:
      - ${MYSQL_DATA_PATH}:/var/lib/mysql:cached
      - ${MYSQL_DUMP_PATH}:/tmp/db
      - ${USER_CONFIG_PATH}/.my.cnf:/root/.my.cnf:ro
      - ./scripts/mysql_dump.sh:/tmp/db/mysql_dump.sh:ro
      - ./config/mysql/d4d.cnf:/etc/mysql/conf.d/d4d.cnf:ro
    command: [
      '--character-set-server=${MYSQL_CHARACTER_SET_SERVER}',
      '--collation-server=${MYSQL_COLLATION_SERVER}'
    ]
