
  php:
    build:
        context: config/php
        args:
            USER_ID: ${USER_ID}
            GROUP_ID: ${GROUP_ID}
            PHP_VERSION: ${PHP_VERSION}
            DEFAULT_TIMEZONE: ${DEFAULT_TIMEZONE}
            PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT}
            PHP_UPLOAD_MAX_FILESIZE: ${PHP_UPLOAD_MAX_FILESIZE}
            PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME}
            NODE_JS_VERSION: ${NODE_JS_VERSION}
            XDEBUG_CLIENT_PORT: ${XDEBUG_CLIENT_PORT}
            XDEBUG_START_WITH_REQUEST: ${XDEBUG_START_WITH_REQUEST}
            XDEBUG_REMOTE_HOST: ${XDEBUG_REMOTE_HOST}
            XDEBUG_REMOTE_CONNECT_BACK: ${XDEBUG_REMOTE_CONNECT_BACK}
            XDEBUG_FILE_LINK_FORMAT: ${XDEBUG_FILE_LINK_FORMAT}
            XDEBUG_IDE_KEY: ${XDEBUG_IDE_KEY}
    ports:
        - ${PORT_WEB}:80
    volumes:
        - ${PROJECT_PATH}:/var/www/project:cached
        - ${SF_COMMUNITY_PATH}:/var/www/symfony:cached
        - ./.composer/cache:/var/www/.composer/cache:cached
        - ${SSH_KEY_PATH}/id_rsa:/var/www/.ssh/id_rsa
        - ${SSH_KEY_PATH}/id_rsa.pub:/var/www/.ssh/id_rsa.pub
        - ${SSH_KEY_PATH}/known_hosts:/var/www/.ssh/known_hosts
        - ${USER_CONFIG_PATH}/.bash_history:/var/www/.bash_history
        - ${USER_CONFIG_PATH}/.bashrc:/var/www/.bashrc
        - ${USER_CONFIG_PATH}/.gitconfig:/var/www/.gitconfig
        - ${USER_CONFIG_PATH}/.gitignore:/var/www/.gitignore
        - ${USER_CONFIG_PATH}/bash_completion/console:/etc/bash_completion.d/console
        - ./config/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
        - ./config/php/php-fpm.d/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf:ro
        - ./config/supervisor/conf.d/messenger-worker.conf:/etc/supervisor/conf.d/messenger-worker.conf
        - ./scripts/check_php_extensions.sh:/var/www/scripts/check_php_extensions.sh
    #php_depends_on
